@import url(https://fonts.googleapis.com/css2?family=Share+Tech&display=swap);

html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: Share Tech;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
}

.HotSwapLogo {
  max-width: 100%;
  max-height:100%;
}

.contentColumn
{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  justify-self: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 10px;
}

.uploadfrmt {
  margin-bottom: 10px;
  margin-top: 10px;
}

.fix {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.loginform {
    margin-left: 2em;
}

nav {
  display: flex;
  align-items: center;
  background-color: #6b30b8;
  height: 90px;
  padding: 30px 25px;
}

.nav--about {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 900;
}


.HotSwapContainer {
  margin-top: 3em;
  width: 270px;
  height: 180px;
}

#signUp{
  margin-top:20px;
  background-color: rgb(25, 160, 25);
}
.nav--contact {
  margin-left: 10px;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 900;
}

.nav--LogOut {
  margin-left: 10px;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 900;
}

.main--landing {
  padding-top: 100px;
  padding-left: 20px;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #6b30b8;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 25px;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.login--landing {
  margin-left: 2em;
  font-size: medium;
  margin-top: 2em;
}

.form-control-sm{
  width: 8.75em;
}

.flex-container {
  display: flex;
}

.flex-child1, .flex-child2 {
  margin-right: 1em;
}
.btnFormat {
  background-color: #6b30b8;
  margin-bottom: .2em;
}

.btnFormat2 {
  background-color: rgb(25, 160, 25);
  margin: .5em;
  width: 75%;
}

.btnFormat3 {
  background-color: rgb(25, 160, 25);
  margin: .5em;
  width: 10%;
  top:0;
  right:0;
  position: absolute;
  
}

.formFormat {
  background-color: #6b30b8;
  color: white;
}

.signupfrmbtn {
  background-color: rgb(25, 160, 25);
}

a {
  cursor: pointer;
}

.loginModal .modal-content{
  background-color:#6b30b8;
  color: white;
}

.loginModal .modal-footer {
  border-top: 0px;
}

.loginModal .modal-header {
  border-bottom: 0px;
}

.wrapper{
    margin-top: 2em;
		margin-bottom: 10%;
		margin-left: 2em;
		margin-right: auto;
		width: 95%;
    height: 100%;
		border: 2px solid #000033;
		box-shadow: 9px 9px 9px rgb(24, 86, 167);;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 12.25em 1fr;
    grid-template-areas:
    "a b";
    border-radius: 25px;
    padding: 10px;
}

.prodImg {
  width: 100px;
  height: 100px;
}

.product {
  border-radius: 1px;
  width: 300px;
  height: 300px;
  display: flex;
}

img {
  width: 100%;
  height: auto;
}

.singleProduct {
  margin: 3px;
  border: 2px solid black;
}

.storeGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav--dashboard{
  margin-top: .8em;

}

.buttonColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 22px;
  background-color:#6b30b8;
}

.errorParagraph {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}

input {
  margin-bottom: 10px;
}

section.main_header {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}